<%= render "./navbar" %>

<div class="container">

  <div class="row">

      <div class="col-xs-12 col-md-8">
        
        <div class="card padded-xs-card">

          <h1 class="page-header hidden-xs">Aula <%= @workout.date.strftime("%d/%m/%Y %H:%M") %></h1>

          <h3 class="page-header hidden-sm hidden-md hidden-lg text-center">Aula <%= @workout.date.strftime("%d/%m/%Y %H:%M") %></h3>
  
          <h1 class="lead">Pessoas Inscritas

          <% if @workout.trainings.length >= Integer(@workout.max_participants) %>
          (0 vagas):
          <% else %>
          
            <% if Integer(@workout.max_participants) - @workout.trainings.length == 1 %>
              (<%= Integer(@workout.max_participants) - @workout.trainings.length %> vaga):
            <% else %>
              (<%= Integer(@workout.max_participants) - @workout.trainings.length %> vagas):
            <% end %>

          <% end %>

          </h1>

          <% if @workout.trainings.length == 0 %>

          <p>Ainda ninguém se inscreveu nesta aula. Sê o primeiro/a!</p>

          <% else %>

            <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th></th>
                <th>Nome</th>
                <th class="hidden-xs">Inscrição</th>
              </tr>
            </thead>
            <tbody>

            <% @workout.trainings.order(:id)[0,Integer(@workout.max_participants)].each_with_index do |training, index| %>

              <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><img class="media-object media-object-small" src="<%= training.user.image %>" alt="..."></td>
                <td><%= training.user.name %></td>
                <td class="hidden-xs"><%= training.created_at.strftime("%d/%m/%Y") %></td>
              </tr>

            <% end %>

            </tbody>
            </table>

          <% end %>

          <% if @workout.trainings.length > Integer(@workout.max_participants) %>

          <h1 class="lead">Em espera:</h1>
          <p>Quem estiver na lista de espera pode treinar na mesma, mas faz outro treino com o restante material disponível. Se alguma pessoa com uma das vagas desistir, a vaga será imediatamente ocupada pela primeira pessoa na lista de espera.</p>
          
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th></th>
                <th>Nome</th>
                <th>Inscrição</th>
              </tr>
            </thead>
            <tbody>

            <% @workout.trainings.order(:id)[Integer(@workout.max_participants), 100].each_with_index do |training, index| %>

              <tr>
                <th scope="row"><%= index + 1 + Integer(@workout.max_participants) %> </th>
                <td><img class="media-object media-object-small" src="<%= training.user.image %>" alt="..."></td>
                <td><%= training.user.name %></td>
                <td><%= training.created_at.strftime("%d/%m/%Y") %></td>
              </tr>

            <% end %>

            </tbody>
            </table>

          <% end %>

          <hr>

          <div style="text-align: center;">
            <% if @in_workout %>
              <a href="/workouts/<%= @workout.id %>/state?a=leave" class="btn btn-default"><%= fa_icon "thumbs-down" %> Retirar Inscrição</a>
            <% else %>

              <% if @workout.trainings.length >= Integer(@workout.max_participants) %>

                <a href="/workouts/<%= @workout.id %>/state?a=enter" class="btn btn-default"><%= fa_icon "users" %> Entrar para Fila de Espera</a>

              <% else %>

                <a href="/workouts/<%= @workout.id %>/state?a=enter" class="btn btn-default"><%= fa_icon "thumbs-up" %> Inscrever na Aula</a>

              <% end %>
            <% end %>

          </div>

        </div> <!-- /card -->

      </div> <!-- /col-xs-12 -->

      <div class="col-xs-12 col-md-4">
        
        <div class="card padded-xs-card">
  
          <h1 class="page-header">Patrocínios</h1>

          <a href="http://www.medilast-sport.com/es/bienvenidos.aspx">
        <%= image_tag("medilast", class:"img-responsive") %>
        </a>

        <hr>

          <a href="http://elitetacticalboots.net">
          <%= image_tag("tactical", class:"img-responsive") %>
          </a>

          <hr>

          <a href="https://www.facebook.com/Healthy-food-at-home-1014633131891876/">
          <%= image_tag("footathome", class:"img-responsive") %></a>

        </div> <!-- /card -->
      </div> <!-- /col-xs-12 -->

    </div>
  </div>
