<%= render "./navbar" %>

<section>

  <h2>INFO</h2>

  <ul class="list-group class-list">

    <li class="list-group-item class-day workout-show-header">

      <div class="class-day-column class-day-column-date">
        <p class="class-day-column-date-today"><%= @workout.date.strftime("%d") %></p>
        <p><%= @workout.date.strftime("%m") %></p>
      </div>

      <div class="class-day-column class-day-column-description">

        <p>Treino das <%= @workout.date.strftime("%H:%M") %></p>
        <p class="class-day-workouts-description">

          <% if @workout.trainings.length >= Integer(@workout.max_participants) %>
          Sem vagas, apenas lista de espera.
          <% else %>

            <% if Integer(@workout.max_participants) - @workout.trainings.length == 1 %>
              <%= Integer(@workout.max_participants) - @workout.trainings.length %> vaga
            <% else %>
              <%= Integer(@workout.max_participants) - @workout.trainings.length %> vagas
            <% end %>

          <% end %>
        </p>

        <div>

          <% if @workout.date < Time.now %>

            <% if @in_workout %>

            <a href="/workouts/<%= @workout.id %>/state?a=leave" class="btn btn-sm btn-default btn-forfeit"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> Desistir</a>

            <% else %>

            <button type="button" class="btn btn-sm btn-default" onclick="enterWorkout(<%= @workout.id %>)"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Inscrever</button>

            <% end %>

          <% end %>



          <!-- <a class="btn btn-sm btn-default" href="" role="button"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Ver</a>
          <button type="button" class="btn btn-sm btn-default"> Inscrever</a> -->
          <!-- <a class="btn btn-sm btn-default btn-forfeit" href="/workouts/{{:workoutID}}/state?a=leave&rh=1" role="button"> Desistir</a> -->

        </div>

      </div>

      <div class="class-hour-graphical-availability <% if @percentage <= 50 %>available<% elsif @percentage < 99 %>almost-full<% else %>full<% end %>" data-completion="<%= @percentage %>">
        <div><%= Integer(@workout.max_participants) - @workout.trainings.length %></div>
      </div>


    </li>

    <% if current_user.role == 'admin' || current_user.role == 'coach' %>

    <li class="list-group-item">
      <button type="button" class="btn btn-block btn-danger" onclick="showWorkoutDeleteConfirmationBox(this)"><span class="glyphicon glyphicon-trash"></span> Apagar Aula</button>
    </li>

    <li class="list-group-item list-group-item-workout-delete-box hidden">
      <p>Tens a certeza que queres apagar esta aula?</p>
      <div class="controls">
        <button type="button" class="btn btn-sm btn-default" onclick="hideWorkoutDeleteConfirmationBox(this)"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Cancelar</button>
        <a role="button" class="btn btn-sm btn-danger" href="/workouts/<%= @workout.id %>/delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Apagar</a>
      </div>
    </li>

    <% end %>

  </ul>

</section>

<section>

  <h2>INSCRITOS (<%= @workout.trainings.length %>)</h2>

  <ul class="list-group">

    <% if @workout.trainings.length == 0 %>

    <li class="list-group-item workout-show-hour">
      Ainda não há inscritos. Sê o primeiro!
    </li>

    <% else %>

      <% @workout.trainings.order(:id)[0,Integer(@workout.max_participants)].each_with_index do |training, index| %>

      <li class="list-group-item workout-show-hour">
        <div class="list-group-item-column workout-show-hour-index"><%= index + 1 %></div>
        <div class="list-group-item-column workout-show-hour-description">
          <img src="<%= training.user.image %>" alt="" class="img-circle" width="26px" height="26px"/>
          <span class="workout-show-username"><%= training.user.name %></span>

          <!-- <span class="training-time"><%= distance_of_time_in_words(Time.now, @workout.date, false, :locale => :en) %></span> -->

        </div>
      </li>

      <% end %>

    <% end %>

  </ul>

</section>

<% if @workout.trainings.length > Integer(@workout.max_participants) %>

<section>

  <h2>FILA DE ESPERA (<%= @workout.trainings.length - Integer(@workout.max_participants) %>)</h2>

  <ul class="list-group">

  <% @workout.trainings.order(:id)[Integer(@workout.max_participants), 100].each_with_index do |training, index| %>

  <li class="list-group-item workout-show-hour">
    <div class="list-group-item-column workout-show-hour-index"><%= index + 1 %></div>
    <div class="list-group-item-column workout-show-hour-description">
      <img src="<%= training.user.image %>" alt="" class="img-circle" width="26px" height="26px"/>
      <span class="workout-show-username"><%= training.user.name %></span>

      <!-- <span class="training-time"><%= distance_of_time_in_words(Time.now, @workout.date, false, :locale => :en) %></span> -->

    </div>
  </li>

  <% end %>

  </ul>

</section>

<% end %>

<%= render "./navfooter" %>

<!-- <div class="container">

  <div class="row">

      <div class="col-xs-12 col-md-8">

        <div class="card padded-xs-card">

          <h1 class="page-header hidden-xs">Aula <%= @workout.date.strftime("%d/%m/%Y %H:%M") %></h1>

          <h3 class="page-header hidden-sm hidden-md hidden-lg text-center">Aula <%= @workout.date.strftime("%d/%m/%Y %H:%M") %></h3>

          <h4>Pessoas Inscritas

          <% if @workout.trainings.length >= Integer(@workout.max_participants) %>
          (0 vagas):
          <% else %>

            <% if Integer(@workout.max_participants) - @workout.trainings.length == 1 %>
              (<%= Integer(@workout.max_participants) - @workout.trainings.length %> vaga):
            <% else %>
              (<%= Integer(@workout.max_participants) - @workout.trainings.length %> vagas):
            <% end %>

          <% end %>

          </h4>

          <% if @workout.trainings.length == 0 %>

          <p>Ainda ninguém se inscreveu nesta aula. Sê o primeiro/a!</p>

          <% else %>

            <div class="table-responsive">
              <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th></th>
                  <th>Nome</th>
                  <th>Convidados</th>
                  <th class="hidden-xs">Inscrição</th>
                </tr>
              </thead>
              <tbody>

              <% @workout.trainings.order(:id)[0,Integer(@workout.max_participants)].each_with_index do |training, index| %>

                <tr>
                  <th scope="row"><%= index + 1 %></th>
                  <td><img class="media-object media-object-small" src="<%= training.user.image %>" alt="..."></td>
                  <td><%= training.user.name %></td>
                  <td><%= training.guests || '0' %></td>
                  <td class="hidden-xs"><%= training.created_at.strftime("%d/%m/%Y") %></td>
                </tr>

              <% end %>

              </tbody>
              </table>
            </div>

          <% end %>

          <% if @workout.trainings.length > Integer(@workout.max_participants) %>

          <h4>Em espera:</h4>
          <p>Quem estiver na lista de espera pode treinar na mesma, mas faz outro treino com o restante material disponível. Se alguma pessoa com uma das vagas desistir, a vaga será imediatamente ocupada pela primeira pessoa na lista de espera.</p>

          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th></th>
                  <th>Nome</th>
                  <th>Convidados</th>
                  <th class="hidden-xs">Inscrição</th>
                </tr>
              </thead>
              <tbody>

              <% @workout.trainings.order(:id)[Integer(@workout.max_participants), 100].each_with_index do |training, index| %>

                <tr>
                  <th scope="row"><%= index + 1 + Integer(@workout.max_participants) %> </th>
                  <td><img class="media-object media-object-small" src="<%= training.user.image %>" alt="..."></td>
                  <td><%= training.user.name %></td>
                  <td><%= training.guests || '0' %></td>
                  <td class="hidden-xs"><%= training.created_at.strftime("%d/%m/%Y") %></td>
                </tr>

              <% end %>

              </tbody>
              </table>
            </div>

          <% end %>

          <hr>

          <div>
            <% if @in_workout %>

              <button id="showChangeGuestsUIBtn" class="btn btn-default btn-block hidden-sm hidden-md hidden-lg" onclick="showChangeGuestsUI(this)"><%= fa_icon "users" %> Alterar Número de Convidados</button>
              <button id="showChangeGuestsUIBtnBgScreens" class="btn btn-default hidden-xs" onclick="showChangeGuestsUI(this)"><%= fa_icon "users" %> Alterar Número de Convidados</button>

              <h4 class="hidden" id="changeGuestsUITitle">Alterar Número de Convidados</h4>

              <div class="hidden" id="changeGuestsUIRadios" style="margin-bottom: 15px;">
                <input type="hidden" name="numGuests" value="<%= @in_workout.guests %>" id="numGuests">
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" value="0" <% if @in_workout.guests == 0 %>checked<% end %> onclick="changeGuests('0')">0
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" value="1" <% if @in_workout.guests == 1 %>checked<% end %> onclick="changeGuests('1')">1
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" value="2" <% if @in_workout.guests == 2 %>checked<% end %> onclick="changeGuests('2')">2
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" value="3" <% if @in_workout.guests == 3 %>checked<% end %> onclick="changeGuests('3')">3
                </label>
              </div>

              <div class="hidden" id="changeGuestsUIButtons">

                <button type="button" style="margin-bottom: 10px;" class="btn btn-default btn-block hidden-sm hidden-md hidden-lg" onclick="updateNumGuests(<%= @workout.id %>)"><%= fa_icon "save" %> Alterar</button>
                <button type="button" class="btn btn-default hidden-xs" onclick="updateNumGuests(<%= @workout.id %>)"><%= fa_icon "save" %> Alterar</button>

                <button type="button" class="btn btn-default btn-block hidden-sm hidden-md hidden-lg" onclick="hideChangeGuestsUI()"><%= fa_icon "times-circle" %> Cancelar</button>
                <button type="button" class="btn btn-default hidden-xs" onclick="hideChangeGuestsUI()"><%= fa_icon "times-circle" %> Cancelar</button>

              </div>

              <hr>

              <a href="/workouts/<%= @workout.id %>/state?a=leave" class="btn btn-default btn-block hidden-sm hidden-md hidden-lg"><%= fa_icon "thumbs-down" %> Retirar Inscrição</a>
              <a href="/workouts/<%= @workout.id %>/state?a=leave" class="btn btn-default hidden-xs"><%= fa_icon "thumbs-down" %> Retirar Inscrição</a>

            <% else %>

              <h4>Convidados - <small>Pessoas que vais trazer contigo para experimentarem a Box.</small></h4>

              <div style="margin-bottom: 15px;">
                <input type="hidden" name="numGuests" value="0" id="numGuests">
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" value="0" checked onclick="changeGuests('0')">0
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" value="1" onclick="changeGuests('1')">1
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" value="2" onclick="changeGuests('2')">2
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" value="3" onclick="changeGuests('3')">3
                </label>
              </div>

              <hr>

              <% if @workout.trainings.length >= Integer(@workout.max_participants) %>

                <button type="button" class="btn btn-default hidden-xs" onclick="enterWorkout(<%= @workout.id %>)"><%= fa_icon "users" %> Entrar para Fila de Espera</button>
                <button type="button" class="btn btn-default btn-block hidden-sm hidden-md hidden-lg" onclick="enterWorkout(<%= @workout.id %>)"><%= fa_icon "users" %> Entrar para Fila de Espera</button>

              <% else %>

                <button type="button" class="btn btn-default hidden-xs" onclick="enterWorkout(<%= @workout.id %>)"><%= fa_icon "thumbs-up" %> Inscrever na Aula</button>
                <button type="button" class="btn btn-default btn-block hidden-sm hidden-md hidden-lg" onclick="enterWorkout(<%= @workout.id %>)"><%= fa_icon "thumbs-up" %> Inscrever na Aula</button>

              <% end %>
            <% end %>

          </div>

        </div>

      </div>

      <% if current_user.role == 'admin' || current_user.role == 'coach' %>

      <div class="col-xs-12">

        <div class="card padded-xs-card">
          <a role="button" class="btn btn-block btn-default" href="/workouts/<%= @workout.id %>/delete">Apagar Aula</a>
        </div>

      </div>

      <% end %>

    </div>
  </div> -->
