<div>

  <div class="container-fluid">
    <div class="row">

      <%= render "./sidebar" %>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">

        <div class="main-header">

          <div class="container">
            <h1>Pedidos de Inscrição</h1>
          </div>

        </div>

		<% @new_accounts.each do |new_user| %>
			<div class="col-xs-6 col-md-6 col-lg-4">
				<div class="card">

					<div class="media">
					  <div class="media-left">
					    <a href="#">
					      <img class="media-object media-object-small" src="http://placehold.it/100x100" alt="...">
					    </a>
					  </div>
					  <div class="media-body">
					    <h4 class="media-heading"><%= new_user.name %></h4>
              <p><%= new_user.email %></p>
					    <p class="pull-right">

                <form action="users/yes/<%= new_user.id %>" method="post">
                <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
					    	<button type="submit" class="btn btn-success btn-sm">Confirmar</button>
                </form>

                <form action="users/no/<%= new_user.id %>" method="post">
                <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
					    	<button type="submit" class="btn btn-danger btn-sm">Recusar</button>
                </form>

					    </p>
					  </div>
					</div>

				</div>
			</div>
          <% end %>
 
      </div>

    </div>
  </div>

</div>