<div>

  <div class="container-fluid">
    <div class="row">

      <%= render "./sidebar" %>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">

        <div class="main-header">

          <div class="col-xs-12">
            <h1 class="main-header-title">Pedidos de Inscrição</h1>

          </div>

        </div>


        <div class="col-xs-12">
          
        
          <div class="card">
            
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th></th>
                  <th>Nome</th>
                  <th>Data</th>
                  <th>Opções</th>
                </tr>
              </thead>
              <tbody>

                <% @new_accounts.each do |new_user| %>
                
                <tr>
                  <th scope="row">1</th>
                  <td><img class="media-object media-object-small" src="<%= new_user.image %>" alt="..."></td>
                  <td><%= new_user.name %></td>
                  <td><%= new_user.created_at %></td>
                  <td>
                    <form action="users/yes/<%= new_user.id %>" method="post">
                      <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
                      <button type="submit" class="btn btn-success btn-sm">Confirmar</button>
                    </form>
                    <form action="users/no/<%= new_user.id %>" method="post">
                      <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
                      <button type="submit" class="btn btn-danger btn-sm">Recusar</button>
                    </form>
                  </td>
                </tr>

                <% end %>

              </tbody>
            </table>

          </div>

        </div>
 
      </div>

    </div>
  </div>

</div>