<%= render "./navbar" %>

<section>

  <h2>Pedidos de Inscrição</h2>

  <ul class="list-group">

  <% @new_accounts.each_with_index do |user, index| %>

  <li class="list-group-item list-group-item-user">

    <div class="list-group-item-column list-group-item-column-thumbnail">
      <img src="<%= user.image %>" class="media-object media-object-small" alt="">
    </div>

    <div class="list-group-item-column list-group-item-column-info">
      <p class="user-info-primary"><%= user.name %></p>
      <p class="user-info-secondary"><%= user.email %></p>
      <p class="user-info-secondary">Pediu acesso a <%= user.created_at.strftime("%d/%m/%Y")%></p>

      <div class="user-options">
        <form action="users/yes/<%= user.id %>" method="post">
          <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
          <button type="submit" class="btn btn-success btn-sm"> <%= fa_icon "check-circle" %> Confirmar</button>
        </form>
        <form action="users/no/<%= user.id %>" method="post" style="margin-top: 5px">
          <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
          <button type="submit" class="btn btn-danger btn-sm"><%= fa_icon "times-circle" %> Recusar</button>
        </form>
      </div>

    </div>

  </li>

  <% end %>

  </ul>

</section>
