<%= render "./navbar" %>

<section>

  <h2>PESSOAS INSCRITAS (<span><%= @users.length %></span>)</h2>

  <ul class="list-group">

  <% @users.order(trainings_count: :desc).each_with_index do |user, index| %>

  <li class="list-group-item list-group-item-user">

    <div class="list-group-item-column list-group-item-column-thumbnail">
      <img src="<%= user.image %>" class="media-object media-object-small" alt="">
    </div>

    <div class="list-group-item-column list-group-item-column-info">
      <p class="user-info-primary"><span>#<%= index + 1 %></span> <%= user.name %> <span class="badge"><%= user.trainings_count %> aulas</span></p>
      <p class="user-info-secondary"><%= user.email %></p>
      <p class="user-info-secondary">Entrou a <%= user.created_at.strftime("%d/%m/%Y")%></p>

      <div class="user-options">
        <button type="button" class="btn btn-sm btn-danger" onclick="showConfirmationBox(this, '<%= user.name %>', <%= user.id %>)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Apagar</button>
      </div>

    </div>

  </li>



  <% end %>

  </ul>

  <script id="remove-user-confirmation-box-template" type="text/x-jsrender">

    <li class="list-group-item list-group-item-confirmation-box">
      <p>Tens a certeza que queres apagar o utilizador {{:userName}} da aplicação?</p>
      <div class="controls">
        <button type="button" class="btn btn-sm btn-default" onclick="hideConfirmationBox(this)"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Cancelar</button>
        <a href="users/{{:userId}}/delete" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Apagar</a>
      </div>
    </li>

  </script>

</section>

<%= render "./navfooter" %>

<!-- <div class="container">

  <div class="row">

      <div class="col-xs-12">
        <div class="card stats padded-xs-card">
          <p class="stats-icon"><%= fa_icon "user-plus"%></p>
          <h1 class="stats-value"><%= @total_trainings %></h1>
          <p class="stats-caption">INSCRIÇÕES EM AULAS</p>
        </div>
      </div>


    </div>
  </div> -->
