<%= render "./navbar" %>

<div class="container">

  <div class="row">

      <div class="col-xs-12">
        <div class="card stats padded-xs-card">
          <p class="stats-icon"><%= fa_icon "users"%></p>
          <h1 class="stats-value"><%= @users.length %></h1>
          <p class="stats-caption">PESSOAS INSCRITAS</p>
        </div>
      </div>
  
      <div class="col-xs-12">
        <div class="card padded-xs-card">

          <h1 class="page-header hidden-xs">Inscritos</h1>

          <h3 class="page-header hidden-sm hidden-md hidden-lg text-center">Inscritos</h3>

            <div class="table-responsive">
            <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th></th>
                <th>Nome</th>
                <th>Email</th>
                <th class="hidden-xs">Inscrição</th>
                <th>Aulas Frequentadas</th>
              </tr>
            </thead>
            <tbody>

            <% @users.each_with_index do |user, index| %>

              <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><img class="media-object media-object-small" src="<%= user.image %>" alt="..."></td>
                <td><a href="<%= user.url %>"><%= user.name %></a></td>
                <td><%= user.email %></td>
                <td class="hidden-xs"><%= user.created_at.strftime("%d/%m/%Y") %></td>
                <td><%= user.trainings.length %></td>
              </tr>

            <% end %>

            </tbody>
            </table>
            </div>

        </div> <!-- /card -->

      </div> <!-- /col-xs-12 -->

      <div class="col-xs-12">
        <div class="card stats padded-xs-card">
          <p class="stats-icon"><%= fa_icon "user-plus"%></p>
          <h1 class="stats-value"><%= @total_trainings %></h1>
          <p class="stats-caption">INSCRIÇÕES EM AULAS</p>
        </div>
      </div>
    

    </div>
  </div>
