<%= stylesheet_link_tag "sessions", :media => "all" %>

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">SLNutrition CrossBox</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li><a href="/">Início</a></li>
              <li class="active"><a href="/contacts">Contactos</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">

        <p class="lead">SLNutrition CrossBox Gondomar<a href="https://www.facebook.com/SLnutrition-CrossBox-Gondomar-1564046143859478/" class="discrete-link"> <%= fa_icon "facebook-official" %></a></p>

        <p class="lead">Treinador: Bruno Sá<a href="https://www.facebook.com/Bruno-Sá-Crossfit-786615381401729/?ref=br_tf" class="discrete-link"> <%= fa_icon "facebook-official" %></a></p>
        <p class="lead"><%= fa_icon "mobile" %> 931377820</p>
        <p class="lead"><%= fa_icon "envelope-o" %> brunosa7@hotmail.com</p>

        <hr>

        <iframe width="560" height="400" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJsUR439JiJA0R48PTNnUZ5F8&key=AIzaSyAjvegbYdOOSVTtf518Koez1xFQb6Gn07w" allowfullscreen></iframe>

      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Built by <a href="https://www.facebook.com/miguelgazela">@miguelgazela</a></p>
        </div>
      </div>

    </div>

  </div>

</div>
