<%= render "./navbar" %>

<div class="container">
  <div class="row">

  <% if @trainings.length > 0 %>

    <div class="card">

      <h1 class="page-header hidden-xs">Meus Treinos</h1>
      <h3 class="page-header hidden-sm hidden-md hidden-lg text-center">Meus Treinos</h3>

      <table class="table">
          
          <thead>
            <tr>
              <th>#</th>
              <th>Data</th>
              <th>Estado</th>
            </tr>
          </thead>

          <tbody>
            
            <% @trainings.each_with_index do |dict, index| %>

              <tr>
                <td><%= index + 1 %></td>
                <td><a href="/workouts/<%= dict[:training].workout.id %>"><%= dict[:training].workout.date.strftime("%d/%m %H:%M") %></a></td>
                <td><%= dict[:state] %></td>
              </tr>

            <% end %>

          </tbody>

      </table>
      
    </div>

  <% end %>
    
    <div id="timetable" class="card">

      <h1 class="page-header hidden-xs">Horário de Aulas
        <div class="pull-right">          
          <% if current_user.role == 'admin' || current_user.role == 'coach' %>
            <button class="btn btn-default main-header-calendar-btn" type="button" id="go-week-before"><%= fa_icon "angle-double-left" %></button>
            <button class="btn btn-default main-header-calendar-btn" type="button" id="go-today"><%= fa_icon "calendar-check-o" %> Ir para hoje</button>
            <button class="btn btn-default main-header-calendar-btn" type="button" id="go-week-after"><%= fa_icon "angle-double-right" %></button>
            <button class="btn btn-default" type="button" onclick="redirectToAddWorkouts()"><%= fa_icon "calendar-plus-o" %> Adicionar Aulas</button>
          <% end %>
        </div>
      </h1>

      <h3 class="page-header hidden-sm hidden-md hidden-lg text-center">Horário de Aulas</h3>
      <% if current_user.role == 'admin' || current_user.role == 'coach' %>
      <div style="text-align: center;">
      <div class="btn-group hidden-sm hidden-md hidden-lg" role="group" aria-label="...">
        <button type="button" class="btn btn-default" id="go-week-before"><%= fa_icon "angle-double-left" %></button>
        <button type="button" class="btn btn-default" id="go-today"><%= fa_icon "calendar-check-o" %> Hoje</button>
        <button type="button" class="btn btn-default" id="go-week-after"><%= fa_icon "angle-double-right" %></button>
      </div>
      <button class="btn btn-default hidden-sm hidden-md hidden-lg" type="button" onclick="redirectToAddWorkouts()"><%= fa_icon "calendar-plus-o" %> Adicionar Aulas</button>
      </div>
      <% end %>

      <div class="cal-context" style="width: 100%;">

        <div class="cal-row-fluid cal-row-head">

          <div class="cal-cell1">
            <div class="row">
              <div class="col-xs-12 week-day">Segunda</div>
              <div class="col-xs-12 day-month">28/09</div>
            </div>
          </div>

          <div class="cal-cell1">
            <div class="row">
              <div class="col-xs-12 week-day">Terça</div>
              <div class="col-xs-12 day-month">28/09</div>
            </div>
          </div>

          <div class="cal-cell1">
            <div class="row">
              <div class="col-xs-12 week-day">Quarta</div>
              <div class="col-xs-12 day-month">28/09</div>
            </div>
          </div>

          <div class="cal-cell1">
            <div class="row">
              <div class="col-xs-12 week-day">Quinta</div>
              <div class="col-xs-12 day-month">28/09</div>
            </div>
          </div>

          <div class="cal-cell1">
            <div class="row">
              <div class="col-xs-12 week-day">Sexta</div>
              <div class="col-xs-12 day-month">28/09</div>
            </div>
          </div>

          <div class="cal-cell1">
            <div class="row">
              <div class="col-xs-12 week-day">Sábado</div>
              <div class="col-xs-12 day-month">28/09</div>
            </div>
          </div>
      
        </div>

        <div class="cal-hour-box">
      
          <!-- 9:00 -->

          <div class="cal-row-fluid cal-before-eventlist">

            <div class="cal-cell1 cal-cell" data-cal-row="-day1">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-24" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">09:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day2">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">09:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day3">
                <div class="cal-day-hour">
                  <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">09:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day4">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-27" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">09:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day5">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-28" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">09:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day6">
              <div class="cal-day-hour cal-day-inmonth">
                <span class="pull-right" data-cal-date="2013-03-01" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">09:00</span>
        
              </div>
            </div>

          </div>
        
          <!-- 10:00 -->

          <div class="cal-row-fluid cal-before-eventlist">

            <div class="cal-cell1 cal-cell" data-cal-row="-day1">
              <div class="cal-day-hour cal-day-weekend">
                <span class="pull-right" data-cal-date="2013-02-24" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">10:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day2">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">10:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day3">
                <div class="cal-day-hour">
                  <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">10:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day4">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-27" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">10:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day5">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-28" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">10:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day6">
              <div class="cal-day-hour cal-day-inmonth">
                <span class="pull-right" data-cal-date="2013-03-01" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">10:00</span>
        
              </div>
            </div>

          </div>
        
          <!-- 11:00 -->

          <div class="cal-row-fluid cal-before-eventlist">

            <div class="cal-cell1 cal-cell" data-cal-row="-day1">
              <div class="cal-day-hour cal-day-weekend">
                <span class="pull-right" data-cal-date="2013-02-24" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">11:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day2">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">11:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day3">
                <div class="cal-day-hour">
                  <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">11:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day4">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-27" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">11:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day5">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-28" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">11:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day6">
              <div class="cal-day-hour cal-day-inmonth">
                <span class="pull-right" data-cal-date="2013-03-01" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">11:00</span>
        
              </div>
            </div>

          </div>
        
          <!-- 12:00 -->

          <div class="cal-row-fluid cal-before-eventlist">

            <div class="cal-cell1 cal-cell not-class" data-cal-row="-day1">
              <div class="cal-day-hour cal-day-weekend">
                <span class="pull-right" data-cal-date="2013-02-24" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">12:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell not-class" data-cal-row="-day2">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">12:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell not-class" data-cal-row="-day3">
                <div class="cal-day-hour">
                  <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">12:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell not-class" data-cal-row="-day4">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-27" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">12:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell not-class" data-cal-row="-day5">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-28" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">12:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell not-class" data-cal-row="-day6">
              <div class="cal-day-hour cal-day-inmonth">
                <span class="pull-right" data-cal-date="2013-03-01" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">12:00</span>
        
              </div>
            </div>

          </div>
        
          <!-- 13:00 -->

          <div class="cal-row-fluid cal-before-eventlist">

            <div class="cal-cell1 cal-cell not-class" data-cal-row="-day1">
              <div class="cal-day-hour cal-day-weekend">
                <span class="pull-right" data-cal-date="2013-02-24" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">13:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell not-class" data-cal-row="-day2">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">13:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell not-class" data-cal-row="-day3">
                <div class="cal-day-hour">
                  <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">13:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell not-class" data-cal-row="-day4">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-27" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">13:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell not-class" data-cal-row="-day5">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-28" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">13:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell not-class" data-cal-row="-day6">
              <div class="cal-day-hour cal-day-inmonth">
                <span class="pull-right" data-cal-date="2013-03-01" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">13:00</span>
        
              </div>
            </div>

          </div>
        
          <!-- 14:00 -->

          <div class="cal-row-fluid cal-before-eventlist">

            <div class="cal-cell1 cal-cell not-class" data-cal-row="-day1">
              <div class="cal-day-hour cal-day-weekend">
                <span class="pull-right" data-cal-date="2013-02-24" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">14:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day2">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">14:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day3">
                <div class="cal-day-hour">
                  <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">14:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day4">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-27" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">14:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day5">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-28" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">14:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day6">
              <div class="cal-day-hour cal-day-inmonth">
                <span class="pull-right" data-cal-date="2013-03-01" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">14:00</span>
        
              </div>
            </div>

          </div>

          <!-- 15:00 -->

          <div class="cal-row-fluid cal-before-eventlist">

            <div class="cal-cell1 cal-cell" data-cal-row="-day1">
              <div class="cal-day-hour cal-day-weekend">
                <span class="pull-right" data-cal-date="2013-02-24" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">15:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day2">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">15:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day3">
                <div class="cal-day-hour">
                  <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">15:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day4">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-27" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">15:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day5">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-28" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">15:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day6">
              <div class="cal-day-hour cal-day-inmonth">
                <span class="pull-right" data-cal-date="2013-03-01" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">15:00</span>
        
              </div>
            </div>

          </div>

          <!-- 16:00 -->

          <div class="cal-row-fluid cal-before-eventlist">

            <div class="cal-cell1 cal-cell" data-cal-row="-day1">
              <div class="cal-day-hour cal-day-weekend">
                <span class="pull-right" data-cal-date="2013-02-24" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">16:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day2">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">16:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day3">
                <div class="cal-day-hour">
                  <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">16:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day4">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-27" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">16:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day5">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-28" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">16:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day6">
              <div class="cal-day-hour cal-day-inmonth">
                <span class="pull-right" data-cal-date="2013-03-01" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">16:00</span>
        
              </div>
            </div>

          </div>

          <!-- 17:00 -->

          <div class="cal-row-fluid cal-before-eventlist">

            <div class="cal-cell1 cal-cell" data-cal-row="-day1">
              <div class="cal-day-hour cal-day-weekend">
                <span class="pull-right" data-cal-date="2013-02-24" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">17:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day2">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">17:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day3">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">17:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day4">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-27" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">17:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day5">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-28" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">17:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day6">
              <div class="cal-day-hour cal-day-inmonth">
                <span class="pull-right" data-cal-date="2013-03-01" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">17:00</span>
        
              </div>
            </div>

          </div>

          <!-- 18:00 -->

          <div class="cal-row-fluid cal-before-eventlist">

            <div class="cal-cell1 cal-cell" data-cal-row="-day1">
              <div class="cal-day-hour cal-day-weekend">
                <span class="pull-right" data-cal-date="2013-02-24" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">18:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell not-class" data-cal-row="-day2">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">18:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day3">
                <div class="cal-day-hour">
                  <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">18:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day4">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-27" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">18:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day5">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-28" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">18:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day6">
              <div class="cal-day-hour cal-day-inmonth">
                <span class="pull-right" data-cal-date="2013-03-01" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">18:00</span>
        
              </div>
            </div>

          </div>

          <!-- 19:00 -->

          <div class="cal-row-fluid cal-before-eventlist">

            <div class="cal-cell1 cal-cell" data-cal-row="-day1">
              <div class="cal-day-hour cal-day-weekend">
                <span class="pull-right" data-cal-date="2013-02-24" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">19:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day2">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">19:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day3">
                <div class="cal-day-hour">
                  <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">19:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day4">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-27" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">19:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day5">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-28" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">19:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day6">
              <div class="cal-day-hour cal-day-inmonth">
                <span class="pull-right" data-cal-date="2013-03-01" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">19:00</span>
        
              </div>
            </div>

          </div>

          <!-- 20:00 -->

          <div class="cal-row-fluid cal-before-eventlist">

            <div class="cal-cell1 cal-cell" data-cal-row="-day1">
              <div class="cal-day-hour cal-day-weekend">
                <span class="pull-right" data-cal-date="2013-02-24" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">20:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day2">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">20:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day3">
                <div class="cal-day-hour">
                  <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">20:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day4">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-27" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">20:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day5">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-28" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">20:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day6">
              <div class="cal-day-hour cal-day-inmonth">
                <span class="pull-right" data-cal-date="2013-03-01" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">20:00</span>
        
              </div>
            </div>

          </div>

          <!-- 21:00 -->

          <div class="cal-row-fluid cal-before-eventlist">

            <div class="cal-cell1 cal-cell" data-cal-row="-day1">
              <div class="cal-day-hour cal-day-weekend">
                <span class="pull-right" data-cal-date="2013-02-24" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">21:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day2">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">21:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day3">
                <div class="cal-day-hour">
                  <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">21:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day4">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-27" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">21:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day5">
              <div class="cal-day-hour">
                <span class="pull-right" data-cal-date="2013-02-28" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">21:00</span>
              </div>
            </div>

            <div class="cal-cell1 cal-cell" data-cal-row="-day6">
              <div class="cal-day-hour cal-day-inmonth">
                <span class="pull-right" data-cal-date="2013-03-01" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">21:00</span>
        
              </div>
            </div>

          </div> <!-- /cal-row-fluid -->
        
        </div> <!-- /cal-hour-box -->
        
      </div> <!-- /cal-context -->

    </div> <!-- /card -->

    <div class="col-xs-12 col-md-4">
      <div class="card">
        <h1 class="lead text-center" style="margin-top: 0;">Medilast Sport</h1>
        <a href="http://www.medilast-sport.com/es/bienvenidos.aspx">
        <%= image_tag("medilast", class:"img-responsive") %>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="card">
        <h1 class="lead text-center" style="margin-top: 0;">Elite Tactical Boots</h1>
        <div>
          <a href="http://elitetacticalboots.net">
          <%= image_tag("tactical", class:"img-responsive") %>
          </a>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="card">
        <div>
          
        </div>
        <h1 class="lead text-center" style="margin-top: 0;">Healthy food at home</h1>
        <a href="https://www.facebook.com/Healthy-food-at-home-1014633131891876/">
        <%= image_tag("footathome", class:"img-responsive") %>
        </a>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="card">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Responsive Ad -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-4024138248901084"
             data-ad-slot="1828282454"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>

      <!-- <div class="col-xs-12">
        <h1 class="page-header">Estatísticas</h1>
      </div> -->

      <!-- <div class="col-xs-6 col-sm-3">
        <div class="card stats">
          <p class="stats-icon"><%= fa_icon "user-plus"%></p>
          <h1 class="stats-value">102</h1>
          <p class="stats-caption">INSCRIÇÕES EM AULAS</p>
          <hr>
          <p>Máx: 80</p>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="card stats">
          <p class="stats-icon"><%= fa_icon "users"%></p>
          <h1 class="stats-value">27</h1>
          <p class="stats-caption">PESSOAS INSCRITAS</p>
          <hr>
          <p>Máx: 30</p>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="card stats">
          <p class="stats-icon"><%= fa_icon "child"%></p>
          <h1 class="stats-value">47</h1>
          <p class="stats-caption">RESTANTES VAGAS</p>
          <hr>
          <p>Máx: 29</p>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="card stats">
          <p class="stats-icon"><%= fa_icon "user-plus"%></p>
          <h1 class="stats-value">17</h1>
          <p class="stats-caption">AULAS DISPONÍVEIS</p>
          <hr>
          <p>Máx: 29</p>
        </div>
      </div> -->

    </div>
  </div>
</div>

