<%= render "./navbar" %>

<section>

  <h2 class="text-center">PRÓXIMAS AULAS</h2>

  <ul class="list-group class-hour-list">

  <% @results.first(4).each_with_index do |result, index| %>

    <li class="list-group-item class-hour-list-item class-hour-minimal">

      <div class="class-hour-column-info">

        <p class="class-hour-title <% if result[:in_workout] %>class-hour-title-active<% end %>">Treino das <%= result[:workout].date.strftime("%H:%M") %> - <%= result[:workout].date.strftime("%d/%m") %></p>

        <div class="class-hour-elements">
          <span><%= result[:free_spots] %> vagas</span>
          <% result[:thumbnails].each_with_index do |thumbnail, index| %>
            <img src="<%= thumbnail %>" alt="" class="img-circle"/>
          <% end %>
          <% if result[:excess_users] > 0 %>
            <span>+<%= result[:excess_users]%></span>
          <% end %>
        </div>

        <div class="class-hour-controls">
          <a class="btn btn-sm btn-default" href="/workouts/<%= result[:workout].id %>" role="button"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Ver</a>

          <% if not result[:workout].date < Time.zone.now %>

            <% if !result[:in_workout] %>

              <% if !result[:is_busy] %>

                <button type="button" class="btn btn-sm btn-default" onclick="enterWorkout(<%= result[:workout].id %>)"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Inscrever</button>
              <% end %>

            <% else %>
            <a class="btn btn-sm btn-default btn-forfeit" href="/workouts/<%= result[:workout].id %>/state?a=leave&rh=1" role="button"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> Desistir</a>
            <% end %>

          <% end %>

        </div>

      </div>

      <div class="class-hour-graphical-availability <%= result[:availability_class] %>" data-completion="<%= result[:percentage] %>">
        <div><%= result[:free_spots] %></div>
      </div>

    </li>

  <% end %>

  </ul>

</section>

<%= render "./navfooter" %>
